@model List<B_KOM_Sklep_internetowy.Models.MainCategory>

<h4 class="border-bottom pb-1">Usuń główną kategorię</h4>

@if (TempData["RemoveMCSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["RemoveMCSuccess"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


@using (Html.BeginForm("RemoveMainCategory", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <select name="mainCategoryId" class="form-control">
        @foreach (var mainCat in Model)
        {
            <option value="@mainCat.MainCategoryId">@mainCat.Name</option>
        }
    </select>

    <input type="submit" class="btn btn-danger rounded-button mt-1" value="Usuń" />

}